.help-link {
    text-decoration: none; 
    color: #000; 
    margin-right: 15px; 
    margin-bottom: 12px;
    display: block;
   
}

.help-link:hover {
    color: #26ae6f; 
    //transform: scale(1.0);
}
.help-menu {
    margin-left: 20px;
    padding: 11px 0;
    background-color: #f1fff8;
}

.HelpandMenu {
    margin-left: 20px;
  
}